.link {
    text-decoration: none;
}

.btn {
    position: relative;
    z-index: 1;
}

.heroPict {
    width: 225px;
    height: 127px;
    transition: transform 0.3s ease-in-out;
}

.btn:hover .heroPict {
    transform: scale(1.3);
    z-index: 2;
}

.hoverText {
    font-size: 2rem;
    color: aliceblue;
    position: absolute;
    top: 100px;
    left: 20%;
    transform: translateX(-50%) translateY(1%);
    opacity: 0;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    z-index: 0;
    text-transform: uppercase;
    display: flex;
    flex-direction: row;
    margin-left: 30px;
    align-items: center;
}

.btn:hover .hoverText {
    transform: translate(-50%, -10px);
    opacity: 1;
    z-index: 3;
}


.pictAtribute {
    margin-right: 10px;
    width: 40px;
    height: 40px;
}