.textBlock {
    position: relative;
    width: 600px;
}

.title {
    position: absolute;
    left: 0;
    top: -600px;
    opacity: 0;
    white-space: nowrap;
    width: 600px;
    font-size: 3.6rem;
    color: aliceblue;
    z-index: 20;
    animation: slideIn 2s ease-out forwards, fadeIn 1s ease-out forwards;
    font-family: 'Libre Baskerville', serif;
    font-weight: 600;
}

.titleUnder {
    font-family: 'Libre Baskerville', serif;
    font-weight: 600;
    position: absolute;
    left: 0;
    top: -530px;
    opacity: 0;
    white-space: nowrap;
    width: 600px;
    font-size: 3.6rem;
    color: aliceblue;
    z-index: 20;
    animation: slideIn 2s ease-out forwards, fadeIn 1s ease-out forwards;
}

@keyframes slideIn {
    to {
        opacity: 0;
        left: 200px;
    }
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.subTitle {
    color: rgb(127, 127, 127);
    position: relative;
    top: -450px;
    left: 0;
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: 1px;
    animation: slideIn 2s ease-out forwards, fadeIn 1s ease-out forwards;
    z-index: 20;
    opacity: 0;
    white-space: nowrap;
}

.subTitleBorder {
    border-bottom: 3px solid rgb(237, 103, 54);
    width: 85px;
    top: -430px;
    z-index: 20;
    opacity: 0;
    white-space: nowrap;
    left: 0;
    position: relative;
    animation: slideIn 2s ease-out forwards, fadeIn 1s ease-out forwards;
}

.btnPlay {
    background: none;
    position: relative;
    z-index: 20;
    opacity: 0;
    white-space: nowrap;
    left: 0;
    top: -400px;
    padding: 10px;
    width: 300px;
    border: 3px solid #5e5e5e;
    border-radius: 5px;
    color: #fff;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    display: flex;
    flex-direction: row;
    transition: 0.2s;
    animation: slideIn 2s ease-out forwards, fadeIn 1s ease-out forwards;
}

.btnPlay:hover {
    top: -403px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.9);
}

.iconSteam {
    margin-top: 5px;
    margin-left: 10px;
}

.column {
    display: flex;
    flex-direction: column;
}

.textButton {
    font-size: 1.2rem;
    margin-left: 30px;
    font-weight: 600;
    font-family: 'Libre Baskerville', serif;
}

.markTextButton {
    font-size: 12px;
    color: #5e5e5e;
}

.txt {
    position: relative;
    color: aliceblue;
    top: -300px;
    left: 400px;
    letter-spacing: 3px;
    font-size: 16px;
    font-weight: 600;
}

.btnNewsTop {
    border: 0;
    color: rgb(162, 163, 164);
    background: none;
    position: relative;
    top: -325px;
    letter-spacing: 2px;
    font-size: 16px;
    font-weight: 600;
    left: 550px;
    z-index: 20;
    transition: letter-spacing 0.2s ease; 
}

.btnNewsTop:hover{
    letter-spacing: 4px;
}