.page {
   position: relative;
   background-image: url('https://cdn.cloudflare.steamstatic.com/apps/dota2/images/dota_react/backgrounds/greyfade.jpg');
   background-repeat: no-repeat;
   background-size: cover;
}

.container {
   display: flex;
   flex-wrap: wrap;
   margin-left: 350px;
   width: 1225px;
   margin-top: 10px;
   z-index: 10;
   position: relative;
}
