.items {
   color: azure;
   font-family: 'Noto Sans', sans-serif;
   font-size: 1rem;
   position: absolute;
   display: flex;
   flex-direction: row;
   height: 40px;
   margin-top: 20px;
   text-transform: uppercase;
   z-index: 1;
}

.img {
   margin-right: 20px;
}

.logo {
   display: flex;
   flex-direction: row;
}

.logoItem {
   font-size: 2rem;
   border: none;
   background: none;
   letter-spacing: 6px;
   color: aliceblue;
   margin-left: 30px;
   text-decoration: none;
}

.button {
   margin-left: 40px;
   color: #bab8b3;
   background: none;
   font-size: 1.5rem;
   border: none;
   padding-bottom: 10px;
   margin-top: 10px;
   text-decoration: none;
}

.button:hover {
   color: #fff;
}

.buttonList {
   margin-left: 40px;
   color: #bab8b3;
   background: none;
   font-size: 1.5rem;
   border: none;
}

/* ===================================== */

.dropdown {
   position: relative;
   display: inline-block;
}

.dropbtn {
   color: #bab8b3;
   background: none;
   font-size: 1.5rem;
   border: none;
   padding-bottom: 10px;
   padding-left: 10px;
   padding-right: 10px;
   margin-left: 40px;
   background: none;
   cursor: pointer;
   position: relative;
   margin-top: 10px;
   text-transform: uppercase;
}

.dropbtn:hover {
   background: rgba(255, 255, 255, 0.2);
   border: 1px solid #fff;
   border-radius: 5px;
}

.dropdownContent {
   display: none;
   position: absolute;
   background-color: #f9f9f9;
   box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
   opacity: 0;
   transition: opacity 0.3s;
}

.dropdown:hover .dropdownContent {
   display: block;
   opacity: 1;
}

.dropdownContent a {
   color: #fff;
   text-decoration: none;
   display: block;
   text-transform: uppercase;
   font-size: 15px;
   padding-top: 5px;
}

.dropdownContent a:hover {
   padding-left: 5px;
   transition: 0.6s;
}

.dropdownContent {
   border: 1px solid #fff;
   background: rgba(255, 255, 255, 0.2);
   width: 160px;
   border-radius: 4px;
   margin-left: 40px;
   width: 180px;
   padding: 10px;
   white-space: nowrap;
}

.dropdownContent a {
   transition: background-color 0.3s;
}

.icon {
   height: 15px;
   padding-bottom: 3px;
   margin-left: 10px;
}

.rightBtns {
   display: flex;
   flex-direction: column;
   margin-left: 650px;
   margin-top: 5px;
   margin-right: 20px;
}

.btn {
   color: #bab8b3;
   background: none;
   font-size: 14px;
   border: none;
   text-transform: uppercase;
}

.btnLogin {
   color: #bab8b3;
   background: none;
   font-size: 14px;
   border: none;
   text-transform: uppercase;
   letter-spacing: 1px;
   font-weight: 400;
   margin-left: 125px;
}

.btnLogin:hover {
   transition: 0.5s;
   color: #fff;
}

/* ============================================ */

.dropdownTranslator {
   position: relative;
   display: inline-block;
}

.dropButton {
   color: #bab8b3;
   background: none;
   font-size: 14px;
   border: none;
   text-transform: uppercase;
   letter-spacing: 1px;
   font-weight: 400;
}

.dropButton:hover {
   border-radius: 5px;
}

.dropdownCont {
   display: none;
   position: absolute;
   background-color: #3d3d3d;
   box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
   opacity: 0;
   transition: opacity 0.3s;
   padding-top: 10px;
   padding-bottom: 10px;
}

.dropdownTranslator:hover .dropdownCont {
   display: block;
   opacity: 1;
}

.dropdownCont a {
   color: #fff;
   text-decoration: none;
   display: block;
   font-size: 10px;
   font-weight: 100;
   padding-left: 10px;
   padding-bottom: 2px;
}

.dropdownCont a:hover {
   background-color: #bab8b3;
   transition: 0.6s;
}

.dropdownCont {
   border: 1px solid #fff;
   background-color: #3d3d3d;
   width: 300px;
   border-radius: 4px;
   white-space: nowrap;
}

.dropdownCont a {
   transition: background-color 0.3s;
}

.iconLanguage {
   margin-left: 5px;
}

.iconPlanet {
   margin-right: 7px;
}

/* =================================================================== */

.btnPlay {
   background: none;
   padding: 10px;
   width: 250px;
   border: 3px solid #5e5e5e;
   border-radius: 5px;
   color: #fff;
   font-size: 1rem;
   text-transform: uppercase;
   letter-spacing: 2px;
}

.iconSteam {
   margin-right: 20px;
   margin-left: -20px;
}

.btnPlay:hover {
   border: 3px solid orangered;
   position: relative;
   top: -2px;
   transition: 1s;
}
